* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #e77810;
    padding: .25rem .5rem;
    text-decoration: none;
}
body {
    background-image: url(images/skybkrnd.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Righteous", sans-serif;
    color: orange;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
  }
  
  h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 27px;
  

}
.buttons-section button{
    padding: 6px 12px;
    cursor: pointer;
}
    .counter-board{
        font-size: 30px;
        justify-content: center;
    }



.Fred {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.navbar {
    overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items:center;
}
  .donut_count {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

@media only screen and (max-width: 767px) {
    
    .profile {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .footer {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    @media screen and (max-width: 600px) {
        .navbar a:not(:first-child) {display: none;}
        .navbar a.icon {
          float: right;
          display: block;
        }
      }
      
}